.postsListItem {
  color: #f5f5f5;
  border-bottom: 1px solid #666;
  display: flex;
  flex-direction: column;
  margin: 0 6px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.postListItem:hover {
  background-color: red;
}

.postsListItem__row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.postsListItem__author {
  display: flex;
}

.postsListItem__author--indicator {
  width: 15px;
  height: auto;
  margin-right: 12px;
  align-self: center;
  transition: opacity 300ms;
}

.postsListItem__author--indicator.visited {
  opacity: 0;
}

.postsListItem__author--text {
  color: white;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 25px 0 0;
  transition: color 300ms;
  overflow: hidden;
  position: relative;
}

.postsListItem__author--text.visited {
  color: #999;
}

.postsListItem__time {
  justify-self: flex-start;
  text-align: right;
  color: #999;
  margin: 0 0 1px 0;
  font-size: 1.1em;
  padding-right: 22px;
  width: 155px;
}

.postsListItem__thumb {
  max-width: 100px;
  height: auto;
  align-self: center;
}

.postsListItem__description {
  text-align: left;
  margin: 0;
  padding: 5px 11px;
  flex-grow: 1;
  align-self: center;
  width: 100%;
  transition: color 300ms;
}

.postsListItem__description.visited {
  color: #999;
}

.postsListItem__icon {
  width: 15px;
  height: auto;
  align-self: center;
}

.postsListItem__dismiss {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  align-self: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 400ms;
  z-index: 2;
}

.postsListItem__dismiss:hover {
  background-color: #333;
}

.postsListItem__dismiss:active {
  background-color: #eee;
}

.postsListItem__dismiss--icon {
  width: 15px;
  height: auto;
  margin-right: 7px;
}

.postsListItem__dismiss--text {
  margin: 0;
}

.postsListItem__comments {
  color: #f3bb83;
  padding-right: 22px;
  margin: 0;
  padding-bottom: 5px;
}