.postsSidebar {
  background-color: #1E1E1E;
  width: 435px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  transition: all 350ms;
}

.postsSidebar__title {
  color: white;
  background-color: #3C3C3C;
  font-weight: normal;
  text-align: center;
  padding: 50px 0 20px 0;
  margin: 0;
}

.postsSidebar__dismissAll {
  color: #f3bb83;
  font-weight: normal;
  text-align: center;
  padding: 18px 0;
  margin: 0;
}

.postsDetail__icon {
  width: 20px;
  position: fixed;
  right: 20px;
  top: 20px;
  display: none;
}