@import "./Media.scss";

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

.App {
  display: flex
}

::-webkit-scrollbar {
  display: none;
}