@media only screen and (max-width: 770px) {
  .postsSidebar {
    position: absolute;
    margin-left: -500px;
  }

  .postsSidebar.visible {
    margin-left: 0;
  }

  .postsDetail__icon {
    display: block;
  }

  .postsDetail__fullImg {
    height: auto;
    width: 90vw;
  }

  .postsSidebar__hint {
    opacity: 1
  }
}