@media only screen and (max-width: 770px) {
  .postsSidebar {
    position: absolute;
    margin-left: -500px;
  }

  .postsSidebar.active {
    margin-left: 0;    
  }

  .postsDetail__icon {
    display: block;
  }
}